
<div>
    <h3 class="dealsFont"><span style="color: red">Deals</span>  Of The Day</h3>
    <div class="progress-spinner" *ngIf="progress">
        <mat-spinner  mode="indeterminate"></mat-spinner>
      </div>

<div class="row">
  
  <div class="c0l-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let product of allProducts | paginate: { itemsPerPage: 48, currentPage: p }" class="content1" >
      <div *ngFor="let image of product.imageUrls" class="flexBox1">
          <div *ngIf = "image.resolutionType == 'low'"  class="inner-content">
            
        <div class="image-view">
        <img src={{image.url}} alt="" (click)="open(product.url)">
        </div>
    
        <div class="text">
        <div>  <b> <a href="#" title="{{product.name}}" (click)="open(product.url)">{{product.name}}</a> </b></div>
        <!-- <div> {{product.title}}</div> -->
        <!-- <div>{{product.description}}</div> -->
        </div>
        <div class="detailsBtn">
          <button class="btn btn-default viewdetails" (click)="open(product.url)">
            View Details
          </button>
        </div>
      
      </div>
      </div>
      
  </div>

 

</div>
<div class="paginationContainer">
  <pagination-controls class="text-center" (pageChange)="p = $event" responsive="true">
    
  </pagination-controls>
</div>

</div>

<!-- 
<div class="banner">
  <div class="centerme">Center me plz</div>
</div> -->
 
<!-- <div class="gridcontainer">
  <div class="gridtile" *ngFor="let product of allProducts">1</div>
</div> -->
<!-- 
<div class="container" style="background-color:red;color: white">
    <div class="row">
      <div class="col-sm-2" style="background-color:violet">
        One of three columns
      </div>
      <div class="col-sm" style="background-color:turquoise">
        One of three columns
      </div>
      <div class="col-sm" style="background-color:yellowgreen">
        One of three columns
      </div>
    </div>
  </div>

  <div class="container" style="background-color:black;color: white">
      <div class="row">
        <div class="col-sm" style="background-color:lightseagreen">
          1 of 2
        </div>
        <div class="col-sm" style="background-color:green">
          2 of 2
        </div>
      </div>
      <div class="row">
        <div class="col-sm" style="background-color:blue">
          1 of 3
        </div>
        <div class="col-sm" style="background-color:maroon">
          2 of 3
        </div>
        <div class="col-sm" style="background-color:lightblue">
          3 of 3
        </div>
      </div>
    </div> -->