.image{
    
     /* height: 380px;  */
    
    
    display: flex;
    animation-name: test1;
    animation-duration: 30s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
      
     
}
.searchPanel{

    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    
    position: relative;
    margin: 12% 30%;
    opacity: 0.9;
flex-wrap: wrap;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

    
}
.searchPanel:hover{
    opacity: 1;
    
}
.inputField{
flex: 5;
border: none;

}

.buttonField{
    flex: 1;
    border: none;
    margin-left: 2%;

}
/*  
.inputgroup{
    padding: 10% 29%;
   background-color: black;
   position: absolute; 
   align-content: space-between; 
    
}  */
 .form-control{
    padding: 5% 2%;
border: none;
 border-radius: 0; 
 letter-spacing: 1px;
 font-weight: bolder;

}
 .btn-default {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    
    padding: 9.8px;
    background-color:rgb(27, 26, 36);
    color:whitesmoke;
    border: none;
    opacity: 0.9;
     border-radius: 0; 
     letter-spacing: 1px; 
      
}
button:hover{
    opacity: 1;
    cursor: pointer;
    color: red;
    
}

@-webkit-keyframes test1{
    
    0% {
        background-image: url(\..\1.jpg);
        opacity: 1;
        background-size: cover;
        }
    10%{
        background-image: url(\..\2.jpg);
        opacity: 1;
        background-size: cover;
    }
    20%{
        background-image: url(\..\3.png);
        opacity: 1;
        background-size: cover;
    }
    30%{
        background-image: url(\..\4.jpg);
        opacity: 1;
        background-size: cover;
    }
    
    40%{
        background-image: url(\..\5.jpg);
        opacity: 1;
        background-size: cover;
     
    }
    50%{
        background-image: url(\..\6.jpg);
        background-size: cover;
        opacity: 1;
     
    }
    60%{
        background-image: url(\..\7.jpg);
        opacity: 1;
        background-size: cover;
     
    }
    70%{
        background-image: url(\..\8.png);
        opacity: 1;
        background-size: cover;
    }
    80% {
        background-image: url(\..\9.jpg);
        opacity: 1;
        background-size: cover;
    }
    90%{
        background-image: url(\..\10.jpg);
        opacity: 1;
        background-size: cover;
    }
    100% {
        background-image: url(\..\11.png);
        opacity: 1;
        background-size: cover;
        
    }
}

.container1{
    margin: 1% 6%;
}

@media (max-width:640px){
    .image{
        
    }
.form-control{



}
.btn-default{

    

}
}
