
<div class="image">

    <div class="searchPanel">
        <div class="inputField">

         <input type="text" class="form-control" placeholder="Search for products, brands and more" #input (keyup.enter)="search(input.value)">
        </div> 
        <div class="buttonField">
         <button class="btn btn-default" type="submit" (click)="search(input.value)" routerLink='results'> <strong>Search</strong>  </button>
      </div>
    </div>
  </div>
<div class="container1">
  <app-deal-of-the-day></app-deal-of-the-day>
</div>
  