
<!-- <h1>GitHub User Search</h1>
<div class="container">
<form action="">
<div class="form-group">
  <label for="user">Username</label>
  <input type="text" id="user" class="form-control" [(ngModel)]="username" name="un" (keyup.enter)="search()">
</div>
<div class="form-group">
    <label for="pwd">Password</label>
    <input type="text" id="pwd" class="form-control" [(ngModel)]="password" name="pw">
  </div>
  <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" class="form-control" [(ngModel)]="email" name="em">
    </div>
<div class="form-group">
  <button class="btn btn-outline-success" (click)=search()>Search</button>
</div>
</form>
</div>
  <div class="container" *ngIf=response>
    <p>Login ID: {{response?.login}}</p>
    <p>Name: {{response?.name}}</p>
    <p>ID: {{response?.id}}</p>
    <p>Type: {{response?.type}}</p>
    <p>Public Repository: {{response?.public_repos}}</p>
    <p>Following: {{response?.following}}</p>   
  </div> -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse-main">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            DeadlyCheap
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#" >About</a></li>
            <li><a href="#" >Contact</a></li>
            <li><a href="#">Projects</a></li>
          </ul>
      
        </div>
      </div>
      </nav>