
  h3{
    color:black;

  }
  .searchFont{
    font-size: 2vw;
  }
.main-content{
  
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1% 1%;
  box-sizing: border-box;
  /* box-shadow:0 2px 150px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important; */
  background-color: #e4e4e4;
border-radius: 0.12em;
}
.content{
  
  flex-basis: 20%;
   background-color:white;
  /* box-shadow:0 2px 150px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important; */
   border: 1px solid rgba(173, 172, 172, 0.808); 
   border-radius: 0.25em;
}  

.content:hover{
  
  cursor: pointer;
   box-shadow:0px 5px 20px 0px rgba(0,0,0,0.16),0px 5px 5px 0px rgba(0,0,0,0.12)!important; 
border: none;
}

.image-view{
  
  height: 206px;
  
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.inner-content{
  
  
 
}
.wrap a{
  color:rgb(50, 50, 255);
}
.wrap a:hover{
  text-decoration:underline; 
}
.flexBox{
  display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
  
}
.text{ 
font-size: 15px;

width: 200px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.progress-spinner{

  margin: 80px 600px;
}
/* .wrap{
flex-wrap: nowrap;
} */

.container1{
  margin: 1% 1%;
}
.specialPrice{
  color: green;
  font-size: 22px;
  font-weight: 600;
}
.sellingPrice{
  text-decoration-line: line-through;
  color: red;
  opacity: 0.7;
}
.brandName{
  font-weight: 100;
}
.discountPercentage{
  color:black;
  opacity: 0.8;
  font-weight: 200;

}
.offers{
  font-size: 12px;
  font-weight: 100;
  white-space: normal;
  color: green;
  white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}